body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d66b4e;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 100px; /* Adjust the height as necessary */
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto; /* Push the navigation to the right */
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.hero button {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    background-color: #e91e63;
    color: white;
    cursor: pointer;
}

section {
    padding: 4rem 2rem;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    background: #f9f9f9;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
